@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CloseWindow</title>
</head>
<body>
    <script type="text/javascript">
        window.opener.location.reload(false);
        window.close();
    </script>
    <div>
        
    </div>
</body>
</html>
