@model InVision_Ticket.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p><br />
<fieldset>
    <legend>Announcements</legend>
    @foreach (var a in Model.Announcements)
    { 
        <fieldset>
            <legend>@a.CreatedDateTime</legend>
            @Html.Raw(a.HTML)
        </fieldset>
        
    
    }


</fieldset>