@model InVision_Ticket.Models.System
@{
    Layout = null;
}
 
<fieldset>
    <legend>System</legend>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">CustomerID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerID)
    </div>

    <div class="display-label">Desciption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desciption)
    </div>
    <p>
    @Html.ActionLink("Edit System", "Edit", new { id = Model.SystemID })
</p>
</fieldset>

