@model InVision_Ticket.Models.TicketType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TicketType</legend>

    <div class="display-label">TicketType1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TicketType1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TicketTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
